$bg: #151821;
$block_bg: #1A1D27;
$text_color: #E5E7EC;
$main_text_color: #FFF;
$text_btn: #EAEAEA;
$link: #53596D;
$link_h: #fff;
$footer_span: #fff;
$main_link: #0085FF;
$placeholder: #49526F;
$bg_btn: linear-gradient(267.75deg, #00A3FF -44%, #1C52DD 99.69%);