@import './conts';
@import '../public/fonts/GothamPro/stylesheet.css';
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gotham Pro', sans-serif;
    background: url(../public/img/bg.png), $bg;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1339px;
}

.center {
    margin: 0 auto;
}