.btn {
    position: relative;
    height: 59.3px;
    left: 0px;
    top: 0px;
    background: $bg_btn;
    border-radius: 2px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $text_btn;
    margin-right: 48px;
    user-select: none;
    cursor: pointer;
    // &:after {
    //     content: '';
    //     position: absolute;
    //     display: block;
    //     width: 103%;
    //     height: 120%;
    //     background: url(../public/img/border_btn.png) center no-repeat;
    //     background-size: 100% 100%;
    // }
    &:hover {
        background: linear-gradient(0deg, rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.2)), linear-gradient(267.75deg, #00A3FF -44%, #1C52DD 99.69%);
    }
    &:active {
        background: linear-gradient(267.75deg, #41527E -44%, #2960EC 99.69%);
    }
    ico {
        margin-right: 28px;
    }
    ico.play {
        width: 28px;
        height: 28px;
        background: url(../public/img/ico/play.png) no-repeat center;
    }
    ico.screen {
        width: 28px;
        height: 28px;
        background: url(../public/img/ico/screen.png) no-repeat center;
    }
    ico.shop {
        width: 28px;
        height: 28px;
        background: url(../public/img/ico/shop.png) no-repeat center;
    }
    ico.download {
        width: 28px;
        height: 28px;
        background: url(../public/img/ico/download.png) no-repeat center;
    }
    ico.connect {
        width: 28px;
        height: 28px;
        background: url(../public/img/ico/connect.png) no-repeat center;
    }
}

.title {
    position: relative;
    font-size: 30px;
    color: $main_text_color;
    padding: 17px;
    background: url(../public/img/bg_title.png) top;
    background-repeat: space;
    text-transform: uppercase;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 33px;
        height: 32px;
        background: url(../public/img/title_right.png);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 33px;
        height: 32px;
        background: url(../public/img/title_left.png);
    }
}

.inputs {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    &::after {
        position: absolute;
        top: -15px;
        right: -15px;
        content: '';
        width: 50px;
        height: 50px;
        background: url(../public/img/border_block.png);
    }
    &::before {
        position: absolute;
        top: -15px;
        left: -15px;
        content: '';
        width: 50px;
        height: 50px;
        background: url(../public/img/border_block.png);
        transform: rotate(-90deg);
    }
    .input:last-child {
        margin: 0;
    }
    .input {
        width: 100%;
        height: 89px;
        background: rgba(42, 47, 64, 0.3);
        opacity: 1;
        backdrop-filter: blur(11px);
        border-radius: 3px;
        padding: 0 31px;
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        input {
            width: 100%;
            height: 100%;
            background: none;
            outline: none;
            border: none;
            font-weight: 300;
            font-size: 20px;
            line-height: 19px;
            color: $main_text_color;
            &::placeholder {
                color: $placeholder;
            }
        }
    }
}

.remember {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    .checkbox {
        width: 33px;
        height: 33px;
        background: #1C1F2A;
        border-radius: 6px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active::after {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 6px;
            background: linear-gradient(267.75deg, #00A3FF -44%, #1C52DD 99.69%);
        }
        &:hover::after {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 6px;
            background: linear-gradient(267.75deg, #00A3FF -44%, #1C52DD 99.69%);
        }
    }
    span {
        font-size: 14px;
        color: $main_text_color;
    }
}