@import './Home.module.scss';
@media screen and (min-width: 4097px) {
    main {
        zoom: 1.7;
    }
}

@media screen and (max-width: 4096px) {
    main {
        zoom: 1.7;
    }
}

@media screen and (max-width: 3200px) {
    main {
        zoom: 1.5;
    }
}

@media screen and (max-width: 2560px) {
    main {
        zoom: 1.1;
    }
}

@media screen and (max-width: 2340px) {
    main {
        zoom: 1;
    }
}

@media screen and (max-width: 1680px) {
    main {
        zoom: 0.9;
    }
}

@media screen and (max-width: 1536px) {
    main {
        zoom: 0.85;
    }
}

@media screen and (max-width: 1440px) {
    main {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1280px) {
    main {
        zoom: 0.65;
    }
}

@media screen and (max-width: 1052px) {
    main {
        zoom: 0.55;
    }
}

@media screen and (max-width: 900px) {
    main {
        zoom: 1;
    }
}